<h2>Create an Author</h2>

<% if !@author.errors.empty? %>
  <h4>Error</h4>
  <ul id="error_explanation">
  <% @author.errors.full_messages.each do |e| %>
    <li> <%= e %> </li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@author) do |f| %>
  
    <%= label_tag "name", "Name" %>
    <%= f.text_field :name, id: Name %>

    <%= label_tag "email", "Email" %>
    <%= f.text_field :email, id:  "Email"%>
  
    <%= label_tag "phone_number", "Phone Number" %>
    <%= f.text_field :phone_number, id: "Phone Number"%>

  <%= f.submit"Create" %>
<% end %>
