<h2>Editing "<%= @post.title %>"</h2>

<% if !@post.errors.empty? %>
  <h4>Error</h4>
  <ul id="error_explanation">
  <% @post.errors.full_messages.each do |e| %>
    <li> <%= e %> </li>
  <% end %>
  </ul>
<% end %>
<%= form_for(@post) do |f| %>
  
    <%= label_tag "title", "Title" %>
    <%= f.text_field :title, id: 'Title' %>

    <%= label_tag "category"%>
    <p>Must be either "Fiction" or "Non-Fiction".</p>
    <%= f.text_field :category, id: "Category"  %>
    <p>
      Please type carefully as our top scientists are working around the clock to
      enable state-of-the-art dropdown technology for this form field.
    </p>

    <%= label_tag "content"%>
    <br />
    <%= f.text_area :content, id: "Content"  %>

  <%= f.submit "Update" %>
<% end %>

